<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
<div class="title-home-store">
    <br>
    <h5><b>EXPLORE OUR MENU <i class="fi fi-ss-book-alt"></i></b></h5>
    <hr>
</div>
<div class="container-menu-store px-3 py-3">
    <div class="row">
        <div class="col-md-9">
            <!--this is the search-->
            <table class="" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="td1"><input type="text" placeholder="Search for barcode..." class="form-control"
                                name="usernameSearch" autofocus id="search"></th>
                        <th class="td2">
                            <button class="btn" onclick="search_browser_div()">🔎</button>
                            {{#each dataEmployee}}
                                <button class="btn" onclick="cash_movement('{{id}}','{{id_branches}}')"><img src="https://cdn-icons-png.flaticon.com/256/7070/7070865.png" alt="" class="img-icon"></button>
                                <!--
                                <button class="btn" onclick="car_returns('{{id}}','{{id_branches}}')"><img src="https://cdn-icons-png.flaticon.com/512/3176/3176255.png" alt="" class="img-icon"></button>
                                -->
                            {{/each}}
                        </th>
                    </tr>
                </thead>
            </table>
            
            <hr>
            <div class="row container-menu" name="container-menu" id="container-div">


                {{#if dishAndCombo}}
                    {{#each dishAndCombo}}
                        <div class="card container-combo col-3" style="padding-right: 0.5rem; background:transparent; margin:0;border: none" id="{{barcode}}">
                            <div class="card" id="{{barcode}}">
                                <div class="image-content">
                                    <span class="overlay">

                                    </span>
                                    <div class="card-image" style="width: 80%;">
                                        <img class="card-img" src="/img/uploads/{{img}}" alt="">
                                    </div>
                                </div>

                                <div class="card-content">
                                    <h2 class="name">{{name}}</h2>
                                    <h1 class="name">${{price_1}}</h1>
                                    <p class="description">{{barcode}}</p>
                                    <button class="button-card" onclick="addFish('{{id}}','{{name}}','{{price_1}}','{{price_2}}','{{price_3}}')"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/3159/3159196.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Oh, you don't have product inventory. Add a product to the menu.</p>
                                <button class="btn-add">Add +</button>
                            </div>
                        </div>
                    </div>                 
                {{/if}}

            </div>
        </div>
    </div>
</div>
<br><br><br><br>
<script src="/js/menu.js"></script>
<script src="/js/store/search.js"></script>
<script src="/js/search.js"></script>
<script src="/js/store/cashMovement.js"></script>
<script src="/js/store/return.js"></script>
<script>
    
    // Función para ajustar dinámicamente la clase de los elementos con la clase "container-combo"
    function adjustDivClass() {
        // Obtén todos los elementos con la clase "container-combo"
        const divElements = document.querySelectorAll('.container-combo');

        // Itera sobre cada elemento
        divElements.forEach(function(element) {
            if (window.innerWidth <= 1500) { // Si el ancho de la ventana es menor o igual a 500px
                element.classList.remove('col-3'); // Elimina la clase col-3
                element.classList.add('col-5'); // Agrega la clase col-5
            } else {
                element.classList.remove('col-5'); // Elimina la clase col-5
                element.classList.add('col-3'); // Agrega la clase col-3
            }
        });
    }

    // Llama a la función al cargar la página y cuando se redimensione la ventana
    window.onload = adjustDivClass;
    window.onresize = adjustDivClass;
</script>