<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
<style>
    .offert-price {
        text-decoration: line-through;
        /* Tachar el texto */
    }

    .btn-comprar {
        background-color: #1473E6;
        /* Color verde */
        color: white;
        /* Color del texto */
        border-radius: 15px;
        /* Bordes redondeados */
        font-weight: bold;
        /* Texto en negrita */
        font-size: 0.8rem;
        right: 30px;
    }

    .btn-comprar:hover {
        background-color: #1267cf;
        /* Color verde más oscuro al pasar el mouse */
    }

    .icon-product-price {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        margin: .5rem;
    }
</style>
<style>
    /* Personalización del estilo de las pestañas */
    .nav-tabs .nav-link {
        color: #495057c0;
        border: none;
        border-bottom: 2px solid transparent;
    }

    .nav-tabs .nav-link:hover {
        color: #495057;
        border: none;
        border-bottom: 2px solid transparent;
    }

    .nav-tabs .nav-link.active {
        color: var(--color-company);
        background-color: #fff;
        border: none;
        border-bottom: 2px solid var(--color-company);
        ;
    }

    .tab-content {
        border: 1px solid #dee2e6;
        border-top: none;
        padding: 20px;
        background: #F5F5F5;
    }

    .card {
        border-radius: 22px;
        /*width: 24rem;*/
    }

    .info-label {
        display: none;
        margin-top: 10px;
    }

    .info-link {
        cursor: pointer;
        color: #007bff;
        text-decoration: none;
    }

    .info-link:hover {
        cursor: pointer;
        color: #036fe2;
    }
</style>
<div class="title-home-store">
    <br>
    <h5><b>EXPLORA NUESTRO MENÚ<i class="fi fi-ss-book-alt"></i></b></h5>
    <hr>
</div>
<div class="container-menu-store px-3 py-3">
    <div class="row">
        <div class="col-8">
            <!--this is the search-->
            <table class="" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="td1">
                            <input type="text" placeholder="Escribe un código de barras..." class="form-control"
                                name="usernameSearch" autofocus id="search">
                        </th>
                        <!--
                        <th class="td2">
                            {{#each dataEmployee}}
                            <button class="btn btn-primary button-spacing" onclick="search_browser_div()"><i
                                    class="fi fi-rs-search"></i></button>
                            <button class="btn" onclick="car_returns('{{id}}','{{id_branches}}')"><img src="https://cdn-icons-png.flaticon.com/512/3176/3176255.png" alt="" class="img-icon"></button>
                            -->
                        {{/each}}
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col">
            {{#each dataEmployee}}
            <button class="btn btn-primary button-spacing" id="emailClient" email="" idClient="null"
                onclick="select_customer('{{id_companies}}')"><i class="fi-icon fi-sr-following"></i> Client</button>
            {{/each}}
        </div>
    </div>

    <!--
        <button class="btn btn-primary button-spacing"
            onclick="cash_movement('{{id}}','{{id_branches}}')"><i
                class="fi fi-sr-hand-holding-usd"></i></button>
        <button class="btn btn-primary button-spacing"
            onclick="cash_movement('{{id}}','{{id_branches}}')"><i
                class="fi fi-ss-cash-register"></i></button>
    -->
    <div class="row pc">
        <div class="col-8">
            <div class="row container-menu" name="container-menu" id="container-div">
                {{#if dishAndCombo}}
                {{#each dishAndCombo}}
                <div class="card container-combo col-3"
                    style="padding-right: 0.5rem; background:transparent; margin:0;border: none" id="{{barcode}}">
                    <div class="card" id="{{barcode}}">
                        <div class="image-content">
                            <span class="overlay">

                            </span>
                            <div class="card-image" style="width: 80%;">
                                {{#if img}}
                                <img class="card-img" src="{{img}}" alt="">
                                {{else}}
                                <img class="card-img" src="https://cdn-icons-png.flaticon.com/512/1695/1695572.png"
                                    alt="">
                                {{/if}}
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">{{name}}</h2>
                            <h1 class="name">${{price_1}}</h1>
                            <p class="description">{{barcode}}</p>
                            <button class="button-card"
                                onclick="addFish('{{id}}','{{name}}','{{price_1}}','{{price_2}}','{{price_3}}')"><i
                                    class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="col-3 ">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/3159/3159196.png"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Oh, esta sucursal aún no tiene inventario de productos.</p>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
        <div class="col-4">
            {{#each dataEmployee}}
            <div class="table-container">
                <table id="table-car-home" border="1" class="table-menu">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <br>
            <button class="btn-container-cart card-menu" id="btn-total-home" onclick="buy_my_car(this)">Buy $0<i
                    class="fi-icon fi-sr-shopping-cart"></i></button>
            {{/each}}
        </div>
    </div>

    <br>
    <div class="row cellphone">
        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"
                    aria-selected="true">
                    <i class="fi fi-sr-apps"></i> Menu
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
                    aria-selected="false">
                    <i class="fi fi-sr-shopping-cart"></i> Carrito
                </a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <div class="col">
                    <hr>
                    <div class="row" name="container-menu" id="container-div">
                        {{#if dishAndCombo}}
                        {{#each dishAndCombo}}
                        <div class="row card-cellphone card container-combo" id="{{barcode}}"
                            onclick="addFish('{{id}}','{{name}}','{{price_1}}','{{price_2}}','{{price_3}}')">
                            <!--container-combo-->
                            <div class="col-4">
                                {{#if img}}
                                <img src="{{img}}" alt="" class="card-img-cellphone">
                                {{else}}
                                <img src="https://cdn-icons-png.flaticon.com/512/1695/1695572.png" alt=""
                                    class="card-img-cellphone">
                                {{/if}}
                            </div>
                            <div class="col-8 character-cellphone">
                                <h2 class="name">{{name}}</h2>
                                <h1 class="name">${{price_1}}</h1>
                                <p class="description">{{barcode}}</p>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <div class="col-3 ">
                            <div class="card">
                                <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/3159/3159196.png"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">Oh, esta sucursal aún no tiene inventario de productos.</p>
                                </div>
                            </div>
                        </div>
                        {{/if}}

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                <div class="col col-table-cellphone">
                    {{#each dataEmployee}}
                        <div class="table-container">
                            <table id="table-car-home-cellphone" border="1" class="table-menu">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <button class="btn-container-cart card-menu" id="btn-total-home-cellphone"
                            onclick="buy_my_car(this)">Buy $0<i class="fi-icon fi-sr-shopping-cart"></i></button>
                    {{/each}}
                </div>
            </div>
        </div>
        <br><br><br><br>
    </div>
</div>
<br><br><br><br>
<script src="/js/menu.js"></script>
<script src="/js/store/search.js"></script>
<script src="/js/search.js"></script>
<script src="/js/store/cashMovement.js"></script>
<script src="/js/store/return.js"></script>
<script>

    // Función para ajustar dinámicamente la clase de los elementos con la clase "container-combo"
    function adjustDivClass() {
        // Obtén todos los elementos con la clase "container-combo"
        const divElements = document.querySelectorAll('.container-combo');

        // Itera sobre cada elemento
        divElements.forEach(function (element) {
            if (window.innerWidth <= 1500) { // Si el ancho de la ventana es menor o igual a 500px
                element.classList.remove('col-3'); // Elimina la clase col-3
                element.classList.add('col-5'); // Agrega la clase col-5
            } else {
                element.classList.remove('col-5'); // Elimina la clase col-5
                element.classList.add('col-3'); // Agrega la clase col-3
            }
        });
    }

    // Llama a la función al cargar la página y cuando se redimensione la ventana
    window.onload = adjustDivClass;
    window.onresize = adjustDivClass;
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const searchInput = document.getElementById('search');
        const cards = document.querySelectorAll('.card.container-combo');

        searchInput.addEventListener('input', () => {
            const query = searchInput.value.toLowerCase();
            cards.forEach(card => {
                const barcode = card.id.toLowerCase();
                if (barcode.includes(query) || query === '') {
                    card.style.display = '';
                } else {
                    card.style.display = 'none';
                }
            });
        });
    });
</script>






<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>