<div class="title-home-store">
    <br>
    <h5><b>EXPLORE OUR MENU <i class="fi fi-ss-book-alt"></i></b></h5>
    <hr>
</div>
<div class="container-menu-store px-3 py-3">
    <div class="row">
        <div class="col-md-9">
            <!--this is the search-->
            <table class="" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="td1"><input type="text" placeholder="Search for barcode..." class="form-control"
                                name="usernameSearch" autofocus id="search"></th>
                        <th class="td2">
                            <button class="btn" onclick="search_browser_div()">🔎</button>
                        </th>
                    </tr>
                </thead>
            </table>
            <hr>
            <div class="row container-menu" name="container-menu" id="container-div">


                {{#if dishAndCombo}}
                    {{#each dishAndCombo}}
                    <!--
                        <div class="card col-3" id="{{barcode}}" style="background: transparent; border: none;">
                            <div class="product">
                                {{#if img}}
                                    <img src="/img/uploads/{{img}}"
                                        class="product-img">
                                {{else}}
                                    <img src="https://cdn-icons-png.flaticon.com/512/6626/6626465.png"
                                        class="product-img">
                                {{/if}}
                                <div class="product-character">
                                    <h3 class="product-name">{{name}}</h3>
                                    <h6 class="product-name">{{barcode}}</h6>
                                    <p class="product-price">{{description}}$</p>
                                    <button class="btn-add-product" name="{{name}}" onclick="addFish('{{name}}/{{purchase_unit}}','{{price_1}}')"><i class="fi-icon fi-sr-cart-arrow-down"></i><b>Add ({{price_1}}$)</b></button>
                                </div>
                            </div>
                        </div>
                    -->
                        <div class="card col-3">
                            <div class="image-content">
                                <span class="overlay">

                                </span>
                                <div class="card-image">
                                    <img class="card-img" src="/img/uploads/{{img}}" alt="">
                                </div>
                            </div>

                            <div class="card-content">
                                <h2 class="name">{{name}}</h2>
                                <h1 class="name">${{price_1}}</h1>
                                <p class="description">{{barcode}}</p>
                                <button class="button-card" onclick="addFish('{{name}}','{{price_1}}')"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/3159/3159196.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Oh, you don't have product inventory. Add a product to the menu.</p>
                                <button class="btn-add">Add +</button>
                            </div>
                        </div>
                    </div>                 
                {{/if}}

                <div class="card col-3">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card" onclick="addFish('BUCKET 12 PARTS',200.00)"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card col-3">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card" onclick="addFish('BUCKET 12 PARTS',200.00)"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card col-3">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card" onclick="addFish('BUCKET 12 PARTS',200.00)"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card col-3">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card" onclick="addFish('BUCKET 12 PARTS',200.00)"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card col-3">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card" onclick="addFish('BUCKET 12 PARTS',200.00)"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card col-3">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card" onclick="addFish('BUCKET 12 PARTS',200.00)"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<br><br><br><br>
<script src="/js/menu.js"></script>
<script src="/js/store/search.js"></script>
<script src="/js/search.js"></script>