<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/report/report.css">
    </link>
</head>

<body>
    {{>reportBar}}

    <div class="container">
    <table class="table-report" border="1px">
        <tr>
            <th colspan="3">Dashboard</th>
        </tr>
        <tr>
            <td>Productos mas vendidos</td>
            <td>Distribucion de mi negocio</td>
            <td>Ganancia de Sucursales este mes</td>
        </tr>
        <tr>
            <td class="td-report">
                <div>
                    <canvas id="myPortfolio"></canvas>
                </div>
            </td>
            <td class="td-report">
                <div>
                    <canvas id="companyExpenses3"></canvas>
                </div>
            </td>
            <td class="td-report">
                <div>
                    <canvas id="companyExpenses1"></canvas>
                </div>
            </td>
        </tr>
    </table>


    <div class="row">
        <div class="col">
            <label for="">Reporte de mis ganancias</label>
            <div class="card">
                <canvas id="companyExpenses"></canvas>
            </div>
        </div>
    </div>
    </div>
    
    <!--DASHBOARD-->
    <div class="container">
        <br>
        <label for=""><i class="fi-icon fi-sr-chart-pie-alt"></i> Reportes del dia actual</label>
        <hr>
    </div>
    <section>
        <div class="container">
            <div class="">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 d-flex card-dashboard">
                            <div class="mx-auto">
                                <h6 class="text-success">
                                    <i class="fi-success fi-sr-tags"></i>
                                    Sales
                                </h6>
                                <h3 class="font-weight-bold">{{unity}}(${{total}})</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex card-dashboard">
                            <div class="mx-auto">
                                <h6 class="text-danger">
                                    <i class="fi-success fi-sr-tags"></i>
                                    Salidas
                                </h6>
                                <h3 class="font-weight-bold text-danger">${{moveNegative}}</h3>
                            </div>
                        </div>
                        <div class="col-lg-2 d-flex card-dashboard">
                            <div class="mx-auto">
                                <h6 class="text-success">
                                    <i class="fi-success fi-sr-ticket-alt"></i>
                                    Entradas
                                </h6>
                                <h3 class="font-weight-bold">${{movePositive}}</h3>
                            </div>
                        </div>
                        <div class="col-lg-2 d-flex card-dashboard">
                            <div class="mx-auto">
                                <h6 class="text-success">
                                    <i class="fi-success fi-sr-ticket-alt"></i>
                                    Combo Sales
                                </h6>
                                <h3 class="font-weight-bold">{{unity}}</h3>
                            </div>
                        </div>
                        <div class="col-lg-2 d-flex card-dashboard">
                            <div class="mx-auto">
                                <h6 class="text-success">
                                    <i class="fi-success fi-br-percentage"></i>
                                    Total de movimiento
                                </h6>
                                <h3 class="font-weight-bold">${{totalMovimientos}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
</body>

</html>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/report/company_report.js"></script>
<script>
    // Datos recibidos del servidor
    const arrayYears=[{{years}}]
    const arrayMonths=[{{months}}]
    const arrayDays=[{{days}}]
    const arrayServerLabel=[]

    for (var i = 0; i < arrayYears.length; i++) {
        const date = arrayDays[i] + '/' + arrayMonths[i] + '/' + arrayYears[i];
        arrayServerLabel.push(date);
    }
        
    const chartData = {{chartData}};
    var ctx = document.getElementById('companyExpenses');
    draw_line(ctx,arrayServerLabel,chartData)

</script>
<script>
    const text=JSON.stringify('{{ distributeLabels}}');
    const arrayDistributeLabels = text.split(',');
    var ctx2 = document.getElementById('myPortfolio');
    draw_doughnut(ctx2,arrayDistributeLabels,{{distributeData}})
</script>

<script>
    var ctx3 = document.getElementById('companyExpenses1');
    const salesBranchesLabels=JSON.stringify('{{ salesBranchesLabels}}');
    
    draw_graph(ctx3,'bar','My Portfolio',salesBranchesLabels,[{{salesBranchesData}}])
</script>