
<table class="table table-hover"> <!--table-bordered-->
    <colgroup>
        <col style="width: 5%;">
        <col style="width: 12%;">
        <col style="width: 12%;">
        <col style="width: 30%;">
        <col style="width: 2%;">
        <col style="width: 22%;">
    </colgroup>
    <thead>
    <tr>
        <th></th>
        <th>Barcode</th>
        <th>Name</th>
        <th>Description</th>
        <th><i class="fi-icon fi-ss-inventory-alt"></i></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each supplies}}
        <tr>
            {{#if img}}
                <td><img src="/img/uploads/{{img}}" class="img-s-p"></td>
            {{else}}
                <td><img src="https://cdn-icons-png.flaticon.com/512/415/415682.png" class="img-s-p"></td>
            {{/if}}
            <td>{{barcode}}</td>
            <td>{{name}}</td>
            <td>{{description}}</td>
            {{#if use_inventory}}
                <td><i class="fi-icon fi-ss-check-circle"></i></td>
            {{else}}
                <td></td>
            {{/if}}
            <td>
                <button class="btn btn-danger" id="{{id}}" onclick="delate_supplies(this.id,{{id_companies}})"><i class="fi-department fi-sr-trash"></i></button>
                <button class="btn btn-danger" id="{{id}}" onclick="edit_supplies(this.id,{{id_companies}},'{{img}}','{{barcode}}','{{name}}','{{description}}','{{use_inventory}}')"><i class="fi-department fi-sr-pencil"></i></button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>





<script>
    async function delate_supplies(id,id_company){
        if(await questionMessage('Delate supplies','Do you want to delete this supplies?')){
            window.location.href = "/fud/"+id_company+"/"+id+"/delate-supplies-company";
        }
    }

    async function edit_supplies(id,id_company,img,barcode,nameDepartment,descriptionDepartment,use_inventory){
        //we will to delate the space in 
        if(descriptionDepartment=="-"){
            descriptionDepartment=""
        }

        //we will to get the data of the new department
        const data=await edit_supplies_company('Edit supplies',img,barcode,nameDepartment,descriptionDepartment,use_inventory);
        if(data){
            //get the data of the from 
            var newImg = data[0];
            var newBarcode = data[1];
            var name = data[2];
            var description = data[3];
            var useInventory = data[4];

            //we will to see if be a name
            if(newBarcode!=""){
                if(name!=""){
                    if(description==""){
                        description="-";
                    }            
                    window.location.href = `/fud/${id_company}/${id}/${newBarcode}/${name}/${description}/${useInventory}/company-supplies`;
                }
                else{
                    warningMessage('Error','You need add a name to your supplies');
                }
            }
            else{
                warningMessage('Error','You need add a barcode to your supplies');
            }
        }
    }
</script>