
<table class="table table-hover"> <!--table-bordered-->
    <colgroup>
        <col style="width: 40%;">
        <col style="width: 10%;">
        <col style="width: 40%;">
        <col style="width: 10%;">
    </colgroup>
    <thead>
        <tr>
            <td><label>Select a product</label></td>
            <td></td>
            <td>
                <label>Select a supplies</label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <select class="form-control">
                    {{#each products}}
                        <option value="{{id}}" id="{{barcode}}">{{name}}</option>
                    {{/each}}
                </select>
            </td>
            <td><button class="btn btn-danger" onclick="addButtonClick(event, 'Product')">+</button></td>
            <td>
                <select class="form-control">
                    {{#each supplies}}
                        <option value="{{id}}" id="{{barcode}}">{{name}}</option>
                    {{/each}}
                </select>
            </td>
            <td><button class="btn btn-danger" onclick="addButtonClick(event, 'Supply')">+</button></td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<br>


<script>

    function is_id_already_exists(newId) {
        // get the table for his ID
        var table = document.getElementById('table-supplies-products');
        var rows = table.getElementsByTagName('tr');

        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName('td');
            
            if (cells.length > 0) {
                var existingId = cells[0].innerText; // Assuming the first column contains the txtId value

                if (existingId == newId) {
                    // Id already exists in the table
                    update_data_table(cells);
                    return true;
                }
            }
        }

        // Id does not exist in the table
        return false;
    }

    function update_data_table(cells){
        var cellCant = cells[2];
        var newCant = parseFloat(cellCant.innerText)+1; // Fix typo here
        // Set the innerHTML to a button element with the newCant value
        cellCant.innerHTML = '<button class="btn" onclick="edit_cant(this)">' + newCant + '</button>';
    }


    function addButtonClick(event, type){
        var row = event.target.closest('tr');
        var selectedSelects = row.querySelectorAll('select');

        var index = (type == 'Supply') ? 1 : 0;

        // Get the id, value, and text of the elements <select>
        var boxSelect,txtId, txtValue, txtText;
        boxSelect=selectedSelects[index]
        txtId = boxSelect.options[boxSelect.selectedIndex].id;
        txtValue = boxSelect.value;
        txtText = boxSelect.options[boxSelect.selectedIndex].innerText;
        if(!is_id_already_exists(txtId)){
            addRowToTable(txtValue,txtId,txtText);
        }
    }
</script>

<script>
    //addRowToTable(selectedValue2,selectedText2,)
    function addRowToTable(idProduct,barcodeProduct,nameProduct) {
        // get the table for his ID
        var table = document.getElementById('table-supplies-products');

        var row = table.insertRow(); // Add a row to the table
        var cellBarcode = row.insertCell(0); // Cell for the product
        var cellName = row.insertCell(1); // Cell for product data
        var cellCant= row.insertCell(2); // Cell for the supply
        var cellBtn= row.insertCell(3); // Cell for supply data

        // Assign data to cells
        cellBarcode.innerHTML = barcodeProduct;
        cellName.innerHTML = nameProduct;
        cellCant.innerHTML = '<button class="btn" onclick="edit_cant(this)">' + 1 + '</button>';
        cellBtn.innerHTML = '<button class="btn btn-danger" onclick="delate_row(this)"><i class="fi-icon fi-sr-trash"></i></button>';
    }
</script>

