<div class="form-group">
    <h6>Supplies and products</h6><br>
    {{>CEO/combo/browser}}
    <table class="table table-hover" id="table-supplies-products" name="table-combo"> <!--table-bordered-->
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 30%;">
            <col style="width: 15%;">
            <col style="width: 15%;">
            <col style="width: 10%;">
        </colgroup>
        <thead>
        <tr>
            <th><label>Barcode</label></th>
            <th><label>Name</label></th>
            <th><label>Cant.</label></th>
            <th><label>Sell for</label></th>
            <th><label></label></th>
        </tr>
        </thead>
        <tbody>
            {{#each suppliesCombo}}
                <tr id="{{id_products_and_supplies}}">
                    <td><label>{{product_barcode}}</label></td>
                    <td><label>{{product_name}}</label></td>
                    <td><button class="btn" onclick="edit_cant(this)">{{amount}}</button></td>
                    <td>
                        <select class="form-control" value="{{unity}}">
                            {{>unity/unitOfMeasure}}
                        </select>
                    </td>
                    <td><button class="btn btn-danger" onclick="delate_row(this)"><i class="fi-icon fi-sr-trash"></i></button></td>
                </tr>
            {{/each}}
                <tr>
                    <td></td>
                    <td></td>
                    <td><label>Type Unity</label></td>
                    <td>
                        <select class="form-control" value="1">
                            {{>unity/unitOfMeasure}}
                        </select>
                    </td>
                    <td></td>
                </tr>
        </tbody>
    </table>
    <input type="text" name="barcodeProducts" id="barcodeProducts">
</div>
{{>updateSelects}}