<div class="tab-pane fade" id="navbar-branch" role="tabpanel" aria-labelledby="navbar-branch-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-sr-store-alt"></i> Branch</label>
            <hr>
            <!--
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="createBranch">
                <label class="form-check-label" for="flexSwitchCheckChecked">Create branch</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="editBranch">
                <label class="form-check-label" for="flexSwitchCheckChecked">Edit Branch</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="deleteBranch">
                <label class="form-check-label" for="flexSwitchCheckChecked">Delete Branch</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="viewAllBranches">
                <label class="form-check-label" for="flexSwitchCheckChecked">View all Branches</label>
            </div>
            --->

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="addBox" valueCheck="{{add_box}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">Add Box</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="editBox" valueCheck="{{edit_box}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">Edit Box</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="deleteBox" valueCheck="{{delete_box}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">Delete Box</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="createReservation" valueCheck="{{create_reservation}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">Create reservation</label>
            </div>
            <!--
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="editReservation" valueCheck="{{edit_reservation}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">Edit reservations</label>
            </div>
            -->
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="viewReservation" valueCheck="{{view_reservation}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">View reservations</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="viewReports" valueCheck="{{view_reports}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">View Reports</label>
            </div>
        </div>
    </div>
</div>