<div class="tab-pane fade" id="navbar-customer" role="tabpanel" aria-labelledby="navbar-customer-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-sr-user"></i> Customer</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAddCustomer" name="addCustomer" valueCheck="{{add_customer}}">
                <label class="form-check-label" for="flexSwitchAddCustomer">Add a new Customer</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditCustomer" name="editCustomer" valueCheck="{{edit_customer}}">
                <label class="form-check-label" for="flexSwitchEditCustomer">Edit a Customer</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteCustomer" name="deleteCustomer" valueCheck="{{delete_customer}}">
                <label class="form-check-label" for="flexSwitchDeleteCustomer">Delete a Customer</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCancelDebt" name="cancelDebt" valueCheck="{{cancel_debt}}">
                <label class="form-check-label" for="flexSwitchCancelDebt">Cancel debt</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchOfferLoan" name="offerLoan" valueCheck="{{offer_loan}}">
                <label class="form-check-label" for="flexSwitchOfferLoan">Offer loan</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchGetFertilizer" name="getFertilizer" valueCheck="{{get_fertilizer}}">
                <label class="form-check-label" for="flexSwitchGetFertilizer">Get fertilizer</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewCustomerCredits" name="viewCustomerCredits" valueCheck="{{view_customer_credits}}">
                <label class="form-check-label" for="flexSwitchViewCustomerCredits">View Customer Credits</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchSendEmail" name="sendEmail" valueCheck="{{send_email}}">
                <label class="form-check-label" for="flexSwitchSendEmail">Send E-mail</label>
            </div>
        </div>
    </div>
</div>
