<div class="tab-pane fade" id="navbar-products" role="tabpanel" aria-labelledby="navbar-products-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-sr-restaurant"></i> Kitchen</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewSupplies" name="viewSupplies" valueCheck="{{view_supplies}}">
                <label class="form-check-label" for="flexSwitchViewSupplies">View Supplies</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAddSupplies" name="addSupplies" valueCheck="{{add_supplies}}">
                <label class="form-check-label" for="flexSwitchAddSupplies">Add Supplies</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditSupplies" name="editSupplies" valueCheck="{{edit_supplies}}">
                <label class="form-check-label" for="flexSwitchEditSupplies">Edit Supplies</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteSupplies" name="deleteSupplies" valueCheck="{{delete_supplies}}">
                <label class="form-check-label" for="flexSwitchDeleteSupplies">Delete Supplies</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewProducts" name="viewProducts" valueCheck="{{view_products}}">
                <label class="form-check-label" for="flexSwitchViewProducts">View Products</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditProducts" name="editProducts" valueCheck="{{edit_products}}">
                <label class="form-check-label" for="flexSwitchEditProducts">Edit Products</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteProducts" name="deleteProducts" valueCheck="{{delete_products}}">
                <label class="form-check-label" for="flexSwitchDeleteProducts">Delete Products</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewCombo" name="viewCombo" valueCheck="{{view_combo}}">
                <label class="form-check-label" for="flexSwitchViewCombo">View Combo</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAddCombo" name="addCombo" valueCheck="{{add_combo}}">
                <label class="form-check-label" for="flexSwitchAddCombo">Add Combo</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditCombo" name="editCombo" valueCheck="{{edit_combo}}">
                <label class="form-check-label" for="flexSwitchEditCombo">Edit Combo</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteCombo" name="deleteCombo" valueCheck="{{delete_combo}}">
                <label class="form-check-label" for="flexSwitchDeleteCombo">Delete Combo</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewFoodDepartament" name="viewFoodDepartament" valueCheck="{{view_food_departament}}">
                <label class="form-check-label" for="flexSwitchViewFoodDepartament">View Food Departament</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAddFoodDepartament" name="addFoodDepartament" valueCheck="{{add_food_departament}}">
                <label class="form-check-label" for="flexSwitchAddFoodDepartament">Add Food Departament</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditFoodDepartament" name="editFoodDepartament" valueCheck="{{edit_food_departament}}">
                <label class="form-check-label" for="flexSwitchEditFoodDepartament">Edit Food Departament</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteFoodDepartament" name="deleteFoodDepartament" valueCheck="{{delete_food_departament}}">
                <label class="form-check-label" for="flexSwitchDeleteFoodDepartament">Delete Food Departament</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewFoodCategory" name="viewFoodCategory" valueCheck="{{view_food_category}}">
                <label class="form-check-label" for="flexSwitchViewFoodCategory">View Food Category</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAddFoodCategory" name="addFoodCategory" valueCheck="{{add_food_category}}">
                <label class="form-check-label" for="flexSwitchAddFoodCategory">Add Food Category</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditFoodCategory" name="editFoodCategory" valueCheck="{{edit_food_category}}">
                <label class="form-check-label" for="flexSwitchEditFoodCategory">Edit Food Category</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteFoodCategory" name="deleteFoodCategory" valueCheck="{{delete_food_category}}">
                <label class="form-check-label" for="flexSwitchDeleteFoodCategory">Delete Food Category</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchWasteReport" name="wasteReport" valueCheck="{{waste_report}}">
                <label class="form-check-label" for="flexSwitchWasteReport">Waste Report</label>
            </div>
        </div>
    </div>
</div>
