<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>

<!--this is the navbar-->
<section class="descriptionWindow">
    <head class="headDescription">
        <div class="navbar">
            <ul class="ul-menu-bar">
                {{#if user}}
                    <input type="checkbox" id="check" onchange="wallpaper_active()">
                    <label for="check" class="btn-menu-bar">
                        <i class="fi-des fi-br-menu-burger" id="btn-navbar-open"></i>
                        <i class="fi-des fi-br-cross" id="btn-navbar-cancel"></i>
                    </label>
                    <div class="sidebar">
                        {{#if company}}
                            {{#each company}}
                                <header>{{alias}}</header>
                            {{/each}}
                        {{else}}
                            <header>Füd</header>
                        {{/if}}
                        <ul>
                            {{#each company}}
                                <li><a href="company-home"><i class="fi-icon fi-sr-apps"> Dashboard</i></a></li>
                                <li><a href="/fud/{{id}}/branches"><i class="fi-icon fi-sr-store-alt"> Branch</i></a></li>
                                <li><a href="report-sales"><i class="fi-icon fi-ss-label"> Sales</i></a></li>
                                <li><a href="/fud/{{id}}/employees"><i class="fi-icon fi-sr-hat-chef"> Employees</i></a></li>
                                <li><a href="/fud/{{id}}/customers-company"><i class="fi-icon fi-sr-user"> Customers</i></a></li>
                                <li><a href="/fud/{{id}}/company-supplies"><i class="fi-icon fi-sr-apple-whole"> Supplies</i></a></li>
                                <li><a href="/fud/{{id}}/company-products"><i class="fi-icon fi-ss-hamburger"> Products</i></a></li>
                                <li><a href="/fud/{{id}}/combos"><i class="fi-icon fi-sr-restaurant"> Combos</i></a></li>
                                <li><a href="/fud/{{id}}/providers"><i class="fi-icon fi-ss-truck-side"> Providers</i></a></li>
                                <li><a href="report"><i class="fi-icon fi-ss-files-medical"> Reports</i></a></li>
                                <li><a href="/fud/{{id}}"><i class="fi-icon fi-sr-settings"> Options</i></a></li>
                                <li><a href="/fud/home"><i class="fi-icon fi-sr-undo">  Exit</i></a></li>
                            {{/each}}
                            {{#each branch}}
                                <li><a href="/fud/{{id_companies}}/{{id}}/visit-branch"><i class="fi-icon fi-sr-apps"> Dashboard</i></a></li>
                                <li><a href="report-sales"><i class="fi-icon fi-ss-label"> Sales</i></a></li>
                                <li><a href="/fud/{{id_companies}}/{{id}}/employees"><i class="fi-icon fi-sr-hat-chef"> Employees</i></a></li>
                                <li><a href="/fud/{{id_companies}}/{{id}}/customers-company"><i class="fi-icon fi-sr-user"> Customers</i></a></li>
                                <li><a href="/fud/{{id_companies}}/{{id}}/supplies"><i class="fi-icon fi-sr-apple-whole"> Supplies</i></a></li>
                                <li><a href="/fud/{{id_companies}}/{{id}}/products"><i class="fi-icon fi-ss-hamburger"> Products</i></a></li>
                                <li><a href="/fud/{{id_companies}}/{{id}}/combos"><i class="fi-icon fi-sr-restaurant"> Combos</i></a></li>
                                <li><a href="/fud/{{id_companies}}/{{id}}/providers"><i class="fi-icon fi-ss-truck-side"> Providers</i></a></li>
                                <li><a href="report"><i class="fi-icon fi-ss-files-medical"> Reports</i></a></li>
                                <li><a href="/fud/{{id_companies}}/{{id}}"><i class="fi-icon fi-sr-settings"> Options</i></a></li>
                                <li><a href="/fud/{{id_companies}}/company-home"><i class="fi-icon fi-sr-undo">  Exit</i></a></li>
                            {{/each}}
                            <li><a href="/fud/logout"><i class="fi-icon fi-sr-settings"> Logout</i></a></li>
                        </ul>
                    </div>
                {{else}}
                    <ul class="ul-bar"><img src="/img/logo2.png" alt="" class="icon-bar" onclick="nextWeb('main')"></ul>
                    <ul class="ul-bar-2"><a href="main" class="bar-link">Home</a> <a href="prices" class="bar-link">Pricing</a> <a href="" class="bar-link"> About us</a></ul>
                {{/if}}

            </ul>
            <ul class="titleDesciption">
                {{#if user}}
                    {{#if company}}
                        {{#each company}}
                            <span><a href="/fud/{{id}}/company-home" class="des" id="des" style="text-decoration: none;">Company</i></a></span>
                            <i class="fi-des fi-sr-hat-chef"></i>
                        {{/each}}
                    {{else}}
                        {{#if branch}}
                            {{#each branch}}
                                <span><a href="/fud/{{id_companies}}/{{id}}/visit-branch" class="des" id="des" style="text-decoration: none;">Company</i></a></span>
                                <i class="fi-des fi-sr-hat-chef"></i>
                            {{/each}}
                        {{else}}
                            <span><a href="/fud/home" class="des" id="des" style="text-decoration: none;">Company</i></a></span>
                            <i class="fi-des fi-sr-hat-chef"></i>
                        {{/if}}
                    {{/if}}
                {{else}}
                    <span><button class="btn-navbar-login" onclick="nextWeb('/home')">Log in</button></span>
                    <span><button class="btn-navbar-singup" onclick="nextWeb('signup')">Try is free</button></span>
                {{/if}}
            </ul>
        </div>
    </head>
</section>
<br><br>
<!--this is the wallpaper black that we create when the user activate the navbar-->
<div class="wallpaper-navbar" id="wallpaper-navbar">

</div>

<!--this script will be that the description of the web choose depending in where is the user-->
<script>
    var url = window.location.href;
    var works = url.split("/");
    var description = works.pop();
    document.getElementById("des").textContent = text_convert(description);

    function text_convert(title) {
        var textConvert = title.replace(/-/g, ' ');
        if (textConvert==''){
            return 'Füd'
        }
        return textConvert;
    }
</script>

<!--this script is for the wallpaper black-->
<script>
// Function to toggle the 'active' class based on checkbox state
function wallpaper_active() {
    // Get the checkbox element by its ID
    var checkbox = document.getElementById("check");
    
    // Get the div element by its ID
    var wallpaperNavbar = document.getElementById("wallpaper-navbar");

    // Toggle the 'active' class based on checkbox state
    if (checkbox.checked) {
        wallpaperNavbar.classList.add("active");
    } else {
        wallpaperNavbar.classList.remove("active");
    }
}
</script>