<head>
<style>
    table {
        border-collapse: separate;
        border-spacing: 0 10px;
    }
</style>

<div class="card">
    <div class="card-body">
        <table width="100%" border="1" class="table-information">
            <tr>
                <th><label>Name/representative</label></th>
                <th><label>E-mail</label></th>
                <th><label>Cellphone/Phone</label></th>
                <th><label>Address</label></th>
                <th></th>
            </tr>
            {{#each providers}}
                {{#each this}}
                    <tr>
                        <td><label><strong>{{name}}/{{representative}}</strong></label></td>
                        <td><label>{{email}}</label></th>
                        <td><label>{{cell_phone}}/{{phone}}</label></td>
                        <td><label>{{business_address}}</label></td>
                        <td>
                            <button id="{{id}}" onclick="nextWeb('{{id_companies}}/{{id}}/edit-provider')" class="btn-table-employee-edit"><i class="fi-department fi-sr-pencil"></i></button>
                            <button id="{{id}}" onclick="delete_provider('{{id}}','{{name}}')" class="btn-table-employee-delete"><i class="fi-department fi-sr-trash"></i></button>
                        </td>
                    </tr>
                {{/each}}
            {{/each}}
        </table>
    </div>
</div>

<script>
  async function delete_provider(idProvider,name){
      if(await questionMessage(`Delete to ${name}`,'Do you want to delete to this customer?')){
        window.location.href = "/fud/"+idProvider+"/delete-provider";
      }
  }
</script>